{% extends "base.html" %}
{% block title %}Kippo Sensor Statistics{% endblock %}
{% block content %}
<div class="row" style="margin-top:30px;">
    <div class="large-9 large-centered columns" style="text-align:center;">
       <h2>
            Kippo Sensor Statistic Graphs
       </h2>
    </div>
</div>
<dl class="tabs vertical" data-tab>
    {% for sensor,images in data.iteritems() %}
        {% if loop.index == 1 %}
            <dd class="tab-title active"><a href="{{ '#'~sensor }}">{{ 'Sensor '~sensor }}</a></dd>
        {% else %}
            <dd class="tab-title"><a href="{{ '#'~sensor }}">{{ 'Sensor '~sensor }}</a></dd>
        {% endif %}
    {% endfor %}
</dl>
<div class="tabs-content">
    {% for sensor,images in data.iteritems() %}
        {% if loop.index ==1 %}
            <div class="content active" id="{{ sensor }}">
        {% else %}
           <div class="content" id="{{ sensor }}">
        {% endif %}
           {% for image in images|batch(3) %}
        <div class = "row panel" style="text-align:center;">
            {% for img in image %}
                <div class="large-4 columns" style="text-align:center;">
                    <h5>{{ img.title }}</h5>
                </div>
            {% endfor %}
        </div>
        <div class = "row" style="text-align:center;">
            {% for img in image %}
                <div class="large-4 columns" style="text-align:center;">
                    <a class="th" href="{{'/static/img/kippo_graphs/' + img.url}}">
                        <img src="{{'/static/img/kippo_graphs/' + img.thumb}}">
                    </a>
                </div>
        {% endfor %}
        </div>
    {% endfor %}
       </div>
    {% endfor %}
</div>
{% endblock %}